<div class="container">
  <div class="card mt-4">
    <div class="card-header text-center">
        <h3>Registartion Form Template Driven Form</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="handleSubmit()" #templateRef="ngForm">
        <div class="row g-0">
          <div class="col-md-6 mb-2">
              <div class="row">
                <div class="col-md-4 offset-1">
                  <label for="firstname" class="col-form-label">First Name</label>
                </div>
                <div class="col-md-4 offset-1">
                  <input required minlength="3" name="firstname" ngModel type="text" id="firstname" class="form-control" #firstName="ngModel">
                  <div class="text-danger" *ngIf="firstName.touched && firstName.invalid && !firstName.dirty">
                    please enter a first name
                  </div>
                  <div class="text-danger" *ngIf="firstName.touched && firstName.invalid && firstName.dirty">
                    first name contains min 3 char
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="lastname" class="col-form-label">Last Name</label>
              </div>
              <div class="col-md-4 offset-1">
                <input minlength="3" required name="lastname" ngModel type="text" id="lastname" class="form-control" #lastName="ngModel">
                <div class="text-danger" *ngIf="lastName.touched && lastName.invalid">
                  please enter a last name
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="email" class="col-form-label">Email</label>
              </div>
              <div class="col-md-4 offset-1">
                <input required email name="email" ngModel type="email" id="email" class="form-control" #email="ngModel">
                <div class="text-danger" *ngIf="email.touched && email.invalid">
                  please enter a valid email
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="password" class="col-form-label">Password</label>
              </div>
              <div class="col-md-4 offset-1">
                <input minlength="8" required name="password" ngModel type="password" id="password" class="form-control" #pass="ngModel">
                <div class="text-danger" *ngIf="pass.touched && pass.invalid">
                  please enter a password
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="mob" class="col-form-label">Mobile Number</label>
              </div>
              <div class="col-md-4 offset-1">
                <input minlength="10" maxlength="10" max="10" required name="mob" ngModel type="text" id="mob" class="form-control" #mob="ngModel">
                <div class="text-danger" *ngIf="mob.touched && mob.invalid">
                  please enter a valid Mobile No.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="date" class="col-form-label">Date of birth</label>
              </div>
              <div class="col-md-4 offset-1">
                <input required name="dob" ngModel type="date" id="date" class="form-control" #dob="ngModel">
                <div class="text-danger" *ngIf="dob.touched && dob.invalid">
                  please enter/select dob
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label class="col-form-label">Select Gender</label>
              </div>
              <div class="col-md-4 offset-1 d-flex">
                <div *ngFor="let data of genderData" class="form-check me-1">
                  <input required name="gender" ngModel class="form-check-input" [value]="data.value" type="radio" name="gender" [id]="data.id">
                  <label class="form-check-label" [htmlFor]="data.for">
                   {{data.label}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="country" class="col-form-label">Select Country</label>
              </div>
              <div class="col-md-4 offset-1">
                <select  required name="country" ngModel id="country" class="form-select" #country="ngModel">
                  <option value="India">India</option>
                  <option value="US">US</option>
                  <option value="UK">UK</option>
                  <option value="Canada">Canada</option>
                </select>
                <div class="text-danger" *ngIf="country.touched && country.invalid">
                  please select a country from list
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="state" class="col-form-label">State</label>
              </div>
              <div class="col-md-4 offset-1">
                <input minlength="3" required name="state" ngModel type="text" id="state" class="form-control" #state="ngModel">
                <div class="text-danger" *ngIf="state.touched && state.invalid">
                  please enter a State
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="street" class="col-form-label">Street/Address</label>
              </div>
              <div class="col-md-4 offset-1">
                <input minlength="3" required name="street" ngModel type="text" id="street" class="form-control" #addr="ngModel">
                <div class="text-danger" *ngIf="addr.touched && addr.invalid">
                  please enter a address/street
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="pincode" class="col-form-label">Pincode</label>
              </div>
              <div class="col-md-4 offset-1">
                <input minlength="4" required name="pincode" ngModel type="text" id="pincode" class="form-control" #pin="ngModel">
                <div class="text-danger" *ngIf="pin.touched && pin.invalid">
                  please enter a pincode
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <input [disabled]="templateRef.invalid" class="btn btn-success" type="submit" value="Register"/>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="showContent" class="card mt-3">
    <div class="card-header text-center">
      <h3>Your Filled Info.</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          First Name : {{formData?.firstname}}
        </div>
        <div class="col-md-6">
          Last Name : {{formData?.lastname}}
        </div>
        <div class="col-md-6">
          Email : {{formData?.email}}
        </div>
        <div class="col-md-6">
          Password : {{formData?.password}}
        </div>
        <div class="col-md-6">
          Mobile No. : {{formData?.mob}}
        </div>
        <div class="col-md-6">
          Dob : {{formData?.dob}}
        </div>
        <div class="col-md-6">
          Gender : {{formData?.gender}}
        </div>
        <div class="col-md-6">
          Country : {{formData?.country}}
        </div>
        <div class="col-md-6">
          State : {{formData?.state}}
        </div>
        <div class="col-md-6">
          Street/Address : {{formData?.street}}
        </div>
        <div class="col-md-6">
          Pincode : {{formData?.pincode}}
        </div>
      </div>
    </div>
  </div>
</div>